body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 20px;
    min-height: 100px;
}

.container {
    background-color: #1a1a1a;
    border: 1px solid #00ffcc;
    padding: 10px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.produto-imagem {
    max-width: 100px;
    margin: 0 auto -20px;
    border-radius: 8px;
}

.codigo-box {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background-color: #222;
    padding: 8px 10px;
    border: 2px dashed #888;
    border-radius: 8px;
    font-weight: normal;
    margin-top: 0px;
    word-break: break-word;
}

.btn-copiar {
    margin-top: 10px;
    background-color: #444;
    border: 1px solid #444;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-copiar:hover {
    background-color: #555;
    border: 1px solid #008CBA;
}

.btn-confirmar {
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.btn-confirmar:hover {
    background-color: #ddd;
}

.btn-voltar {
    margin-top: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    /*border-radius: 20px 10px 20px 10px; /*Top-Left ; Top-Right ; Bottom-Right ; Bottom-Left*/
}

.btn-voltar:hover {
    background-color: #0072a3;
}

.qr-code {
    margin-top: 0px;
    max-width: 140px;
    width: 100%;
}

