.faca-sua-contribuicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.faca-sua-contribuicao > div {
    max-width: 1500px;
}

.email-contato {
    opacity: 1;
    color: rgb(0, 200, 255);
}

.email-contato:hover {
    opacity: 1;
    color: rgb(120, 200, 255);
    text-decoration: underline;
}

article {
    background-color: #dfefff;
    color: black;
    margin: 0px auto 20px auto;
    padding: 10px;
    max-width: 1000px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: inset 1px 1px 5px #181818;
}

article h1 {
    font-size: 1.5em;
}

article h2 {
    font-size: 1.2em;
}

article p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 20px 0px 20px 0px;
    text-align: justify;
}

article mark {
    background-color: rgb(150, 200, 255);
    padding: 0px 3px 0px 3px;
}

article a {
    opacity: 1;
    font-weight: bold;
    color: rgb(0, 50, 100);
}

article a:hover {
    opacity: 1;
    text-decoration: underline;
    color: rgb(150, 50, 100);
}

.vid_tutor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    padding: 2px;
    gap: 5px;
    background-image: linear-gradient(to bottom, #008, #000);
}

.vid_tutor > svg {
    width: 32px;
}

.vid_tutor > h1 {
    text-shadow: 1px 2px 5px #008;
}

.videos {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.videos p {
    font-size: 0.8em;
}

.videos video {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 720px) {
    .videos {
        flex-direction: column;
    }
}